.ant-card-body{
    box-shadow: 0px 0px 1px #ccc
}

.ant-card-body:hover{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}
ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-horizontal{
    margin: 0 auto;
    display:table;
}